## 1) Import libraries
---

In [1]:
import pandas as pd
import plotly.express as px

#Display all columns
pd.options.display.max_columns = None

## 2) Import files
---

In [2]:
data = pd.read_excel('../data/Get_Around/get_around_delay_analysis.xlsx')
data.head()

,rental_id,car_id,checkin_type,state,delay_at_checkout_in_minutes,previous_ended_rental_id,time_delta_with_previous_rental_in_minutes
0,505000,363965,mobile,canceled,NaN,NaN,NaN
1,507750,269550,mobile,ended,-81.0,NaN,NaN
2,508131,359049,connect,ended,70.0,NaN,NaN
3,508865,299063,connect,canceled,NaN,NaN,NaN
4,511440,313932,mobile,ended,NaN,NaN,NaN